<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.udacity.popularmovies">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".PopularMoviesApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.MainListActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.DetailActivity"
            android:parentActivityName=".activities.MainListActivity" />

        <provider
                android:name=".data.contentProviders.MoviesContentProvider"
                android:authorities="com.udacity.popularmovies.movieprovider"
                android:exported="false" />

        <provider
                android:name=".data.contentProviders.TrailersContentProvider"
                android:authorities="com.udacity.popularmovies.trailerprovider"
                android:exported="false" />

        <provider
                android:name=".data.contentProviders.ReviewsContentProvider"
                android:authorities="com.udacity.popularmovies.reviewprovider"
                android:exported="false" />
    </application>

</manifest>